
html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #fffce6 url(ex001/cabecalhos_back.png) repeat-y;
    padding-left: 160px;
}

h1{
    color: #d48b00;
}

h2{
    color: #d48b00;
}

h3{
    color: white;
    background-color: #d48b00;
    padding: 7px;
}

hr{
    /* border-style: dashed;
    color: #d48b00;
    border-width: 3px; */
    border: dashed 2px #d48b00;
}

p{
    text-indent: 30px;
}